.edit-profile__img {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  img {
    border-radius: 50%;
    width: 7rem;
  }
}

.edit-profile__form {
  label {
    font-size: 14px;
    margin-bottom: 1.25rem;
    display: block;
  }
  .edit-profile__btn {
    margin-bottom: 0;
  }
  .edit-profile__others {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    a,
    span {
      text-decoration: underline;
    }
    span {
      cursor: pointer;
    }
  }
}
