.video__info {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  .video__title {
    font-size: 20px;
    display: block;
    margin-bottom: 0.625rem;
  }
  .video__description {
    margin-bottom: 0.625rem;
  }
  small {
    color: rgba($color: white, $alpha: 0.5);
    a {
      color: $yellow;
    }
  }
}
