doctype html
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header               
            h1=pageTitle
            block navigationBar
                nav 
                    ul 
                        li 
                            a(href="/") 홈으로
                        li
                            a(href="/videos/upload") 영상 업로드하기
                        
        main
            block content
        include partials/footer