doctype html
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header               
            h1=pageTitle
            block navigationBar
                nav 
                    ul 
                        li 
                            a(href="/") 홈으로
                        if loggedIn
                            li
                                a(href="/users/logout") 로그아웃
                            li
                                a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}님
                            li
                                a(href="/users/edit") 프로필편집
                            li
                                a(href="/videos/upload") 업로드하기
                        else
                            li
                                a(href="/join") 회원가입    
                            li
                                a(href="/login") 로그인  
                        
                        li
                            a(href="/search") 검색하기    
                        
                        
        main
            block content
        include partials/footer