doctype html
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            if user.loggedIn
                small 안녕하세요 #{user.username}님
            nav 
                ul 
                    if user.loggedIn 
                        li
                            a(href="/login") 로그아웃
                    else                   
                        li                        
                            a(href="/login") 로그인

            h1=pageTitle
        main
            block content
        include partials/footer.pug