extends base.pug


block content
    div.edit-profile__img
        if loggedInUser.avatarUrl === ""
            img(src="https://i1.wp.com/jejuhydrofarms.com/wp-content/uploads/2020/05/blank-profile-picture-973460_1280.png?fit=300%2C300&ssl=1")
        else 
            img(src="/" + loggedInUser.avatarUrl)
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") 프로필 사진
        input(name="avatar", id="avatar",type="file", accept="image/*")
        input(name="name", type="text", placeholder="이름",value=loggedInUser.name, required)
        input(name="email", type="email", placeholder="이메일",value=loggedInUser.email, required)
        input(name="location", type="text", placeholder="위치",value=loggedInUser.location)
        input(type="submit", value="저장하기").edit-profile__btn
        if (!loggedInUser.socialOnly) 
            div.edit-profile__password
                a(href="change-password") 비밀번호 변경 &rarr;    
        
        