extends base.pug

block content
    div.edit-profile__img
        if (isHeroku)
            img(src=loggedInUser.avatarUrl)
        else        
            img(src="/" + loggedInUser.avatarUrl)
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") 프로필 사진
        input(name="avatar", id="avatar",type="file", accept="image/*")
        input(name="username", type="text", placeholder="이름",value=loggedInUser.username, required)
        input(name="email", type="email", placeholder="이메일",value=loggedInUser.email, required)
        input(name="location", type="text", placeholder="위치",value=loggedInUser.location)
        input(type="submit", value="저장하기").edit-profile__btn
        div.edit-profile__others
            if (!loggedInUser.socialOnly)
                a(href="change-password") 비밀번호 변경 &rarr;
            span#deleteBtn 탈퇴하기 &rarr;

block scripts 
    script(src="/assets/js/alertMessage.js")
        
        