extends base
include mixins/video

block navigationBar 
    nav 
        ul 
            li 
                a(href="/videos/upload") 영상 업로드하기

block content 
    h2 요즘 트렌드한 영상이 뭔지 확인하세요
    each video in videos
        +video(video)
    else        
        li 영상을 찾을 수 없습니다.
