extends base
include mixins/video

block navigationBar 
    nav 
        ul 
            li 
                a(href="/videos/upload") 영상 업로드하기

block content 
    each video in videos
        +video(video)
    else        
        li 영상을 찾을 수 없습니다.
