extends base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="name", type="text", placeholder="이름",required)
        input(name="email", type="email", placeholder="이메일", required)
        input(name="username", type="text", placeholder="아이디", required)
        input(name="password", type="password", placeholder="비밀번호", required)
        input(name="password2", type="password", placeholder="비밀번호 확인", required)
        input(name="location", type="text", placeholder="주소", required)
        input(type="submit", value="가입하기")