header 
    a(href="/").header__logo              
        i.fab.fa-youtube
        span Wetube
    nav 
        ul
            li
                a(href="/search") 
                    i.fas.fa-search  
            if loggedIn
                li
                    a(href="/users/logout") 로그아웃
                li
                    a(href="/videos/upload") 업로드하기
                li
                    a(href="/users/edit") 프로필편집
                li
                    a(href=`/users/${loggedInUser._id}`)
                        img(src=loggedInUser.avatarUrl)
            else
                li
                    a(href="/join") 회원가입    
                li
                    a(href="/login").header__btn 로그인  
            
            